<link rel="preload" href="{{ site.baseurl }}/assets/css/algo/common.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/algo/common.css?v={{ site.version }}"></noscript>
<link rel="preload" href="{{ site.baseurl }}/assets/css/algo/nav.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/algo/nav.css?v={{ site.version }}"></noscript>