<section class="section reveal" id="about">
  <div class="section-header">
    <h2 class="section-title">#about-me</h2>
    <div class="section-bar"><p></p></div>
    <a href="/" class="view-all" data-enable-current> &lt;~~ Back</a>
  </div>
  <div class="about-content">
    <div class="about-image">
      <img src="{{ 'assets/images/about-2.png' | absolute_url }}" alt="Pawan Pandey" class="profile-photo" />
      <div class="image-shades"></div>
    </div>
    <div class="about-text fade-right" data-remove-current-class="fade-right">
      <div data-about></div>
      <a href="/about" class="btn" data-disable-current>Read more ~~&gt;</a>
    </div>
  </div>
  {% include nexa/decorators/about.html %}
</section>
