<section class="section universe-section" id="dev">
  <div class="section-header">
    <h2 class="section-heading">#Dev Lab Projects</h2>
    <p class="section-subtitle">The experiments, prototypes, production-ready builds and projects that bring my ideas to life — straight from GitHub.</p>
    <div class="section-bar"><p></p> <a href="/" class="view-all" data-enable-current>&lt;~~ Home</a></div>
  </div>
  <div class="projects-container">
    <div class="pager" data-project-pager data-enable-current></div>
    <div data-filter data-enable-current></div>
    <div class="projects-grid" data-projects></div>
    <div class="pager" data-project-pager data-enable-current></div>
  </div>
  <div class="section-navigation-bar" data-disable-current>
      <a href="/dev" class="view-all">Unfold Story ~~&gt;</a>
      <a href="#" class="view-all" data-return-to-universe>&lt;~~ Back</a>
  </div>
</section>
