.header-container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 var(--padding-xl);
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  min-height: 4em;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  margin-right: auto;
}

.brand-link {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  color: var(--textPrimary, #e6e6e6);;
  font-weight: 600;
  font-size: var(--fontSize-lg);
  text-decoration: none;
}

.brand-symbol {
  color: var(--primary);
}

.site-nav {
  flex: 1;
  max-width: fit-content;
}
.nav-link-icon, .nav-link-text
{
  
  pointer-events: none;
}

.nav-link-icon {
  display: none;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: var(--padding-lg) 0;
  border-bottom: var(--border-1) solid var(--border);
}

.nav-list {
  display: flex;
  gap: var(--gap-xl);
  list-style: none;
  font-size: var(--fontSize-base);
}

.nav-list a {
  color: var(--link);
  text-decoration: none;
  transition: var(--transition-base);
}

.nav-list a:hover,
.nav-list a.active {
  color: var(--primary);
  opacity: 0.7;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}
